@model IEnumerable<Eshop.Models.Product>
@{
    ViewBag.Title = "John Ce na";
}
<div class="row">
    @foreach (Product p in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card h-100 border-0">
                <a asp-action="Details" asp-route-id="@p.Id" asp-controller="Products">
                    <img id="img" class="card-img-top" src="~/img/product/@p.Image" alt="Card image">

                </a>
                <div class="card-body">
                    <h4 class="card-title">@p.Name</h4>
                    <p class="card-text">Tác giả: @p.Author</p>

                </div>
                <p style="font-size:20px; margin-right:20px; margin-top:-20px;" class="card-text text-right text-red font-weight-bold ">@p.Price.ToString("#,##0") VNĐ</p>
                <div class="card-footer border-0 bg-white">
                    @if (ViewBag.username == null)
                    {
                        <a id="add_cart_fail" asp-controller="Carts" asp-action="Add" asp-route-id="@p.Id" asp-route-quantity="1" class="btn btn-primary"><i class="fa fa-cart-plus"></i> Thêm vào giỏ</a>
                    }
                    else
                    {
                        <a id="add_cart" asp-controller="Carts" asp-action="Add" asp-route-id="@p.Id" asp-route-quantity="1" class="btn btn-primary"><i class="fa fa-cart-plus"></i> Thêm vào giỏ</a>

                    }
                </div>
            </div>
        </div>
    }
</div>


